**/__pycache__
**/.ipynb_*
**/*.class
**/sootOutput
**/.DS_Store
**/~$*
**/.vscode
**/*apktool-out*/
**/*jadx-out*/
**/temp**
**/*.log
**/*.tmp
**/.settings
**/.classpath
**/.idea
**/.project
data/
**/target/*
**/*.log
Dataset/apps/*/*.txt
Dataset/apps/*/*.dat